@implements IDisposable

<h3>@P1/@P2 - Aa @DateTime.Now.ToString()</h3>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    [Parameter] public string P1 { get; set; }
    [Parameter] public string P2 { get; set; }
    [CascadingParameter] Counter Main { get; set; }

    private void IncrementCount()
    {
        Main.AddDynCmp("Aa99", typeof(Aa), new Dictionary<string, object>()
            {
                {"P1", "Abidik..." },
                {"P2", "Gubidik"}
            });
    }

    protected override void OnInitialized()
    {
        
    }

    public void Dispose()
    {
        //uu = null;
    }
}
