@implements IDisposable
<h3>Aa</h3>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    public void Dispose()
        {
            //uu = null;
        }

 private void IncrementCount()
    {
        
    }
}
